<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://karechiga.netlify.com/">Kyle Arechiga</a>. Kyle is an aspiring software developer from Tucson, Arizona.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid mypic' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Kyle Arechiga</h2>
      <br />
      <p>
        Kyle is a electrical engineer graduate from the University of Arizona looking to build on his skills through the U of A's Online Coding Bootcamp. He was born and raised in Arizona and knows what it's like to be an Arizonan!
      </p>
    </div>
  </div>
  <br class="clear" />

</div>