<div class="col-10 offset-1">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://karechiga.netlify.com/">Kyle Arechiga</a>. Kyle is an aspiring software developer from Tucson, Arizona.
  </p>
  <br />
  <p>
    Kyle is a electrical engineer graduate from the University of Arizona looking to build on his skills through the U of A's Online Coding Bootcamp.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

</div>